parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	- App\Model\UserManager
	- App\Forms\FormFactory
	- App\Forms\SignInFormFactory
	- App\Forms\SignUpFormFactory
	router: App\Router\RouterFactory::createRouter

database:
	dsn: 'mysql:host=md9.wedos.net;dbname=d179638_ccg'
	user: 'w179638_ccg'
	password: 'CJvcKJtc'